.header {
    position: relative;
    margin: 0 auto;
    padding-top: 45px;
    width: 880px;
    min-height: 74px;
}
@media screen and (max-width: 880px) {
    .header {
      width: 600px;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
      width: 320px;
      padding-top: 28px;
      min-height: 56px;
    }
  }