.imagePopup__container {
    margin: 5px;
    padding: 0;
    position: relative;
    word-wrap: wrap;
    max-width: 75vw;
    min-width: 25vw;
    max-height: 75vh;
    min-height: 25vh;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
@media screen and (max-width: 480px) {
    .imagePopup__container {

    }
  }