.popup__close-button {
    margin: 0;
    margin-left: 8px;
    margin-bottom: 370px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-button.svg);
}
.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
    .popup__close-button {
        margin-left: 281px;
        margin-bottom: 16px;
    }
  }
  @media screen and (max-width: 320px) {
    .popup__close-button {
      width: 32px;
      height: 32px;
      top: 87px;
      right: 19px;
    }
  }