.popup__field-first {
    position: relative;
    margin: 0;
    border: 0;
    padding-bottom: 13px;
    margin-top: 54px;
    margin-left: 36px;
    width: 358px;
    border-bottom:1px solid rgba(0,0,0,0.3);
}
@media screen and (max-width: 480px) {
    .popup__field-first {
        width: 238px;
        margin-top: 75px;
        margin-left: 22px;
    }
  }
